<header *ngIf="user$ | async as user">
  <nav class="nav container">
    <h1 class="text-display-3">KindeAuth</h1>
    <div class="profile-blob">
      <ng-container *ngIf="!!user.picture; else elseTmpl">
        <img
          class="avatar"
          [ngSrc]="user.picture"
          alt="user profile avatar"
          fill
        />
      </ng-container>
      <ng-template #elseTmpl>
        <div class="avatar">
          {{ user?.given_name?.[0] }}
          {{ user?.family_name?.[1] }}
        </div>
      </ng-template>

      <div>
        <p class="text-heading-2">
          {{ user?.given_name }} {{ user?.family_name }}
        </p>
        <button class="text-subtle" (click)="logout()">
          Sign out
        </button>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="container">
    <div class="card start-hero">
      <p class="text-body-2 start-hero-intro">Woohoo!</p>
      <p class="text-display-2">
        Your authentication is all sorted.
        <br />
        Build the important stuff.
      </p>
    </div>
    <section class="next-steps-section">
      <h2 class="text-heading-1">Next steps for you</h2>
      <button class="btn btn-dark" (click)="getUserOrganizations()">
        Get user organizations
      </button>
    </section>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <strong class="text-heading-2">KindeAuth</strong>
    <p class="footer-tagline text-body-3">
      Visit our
      <a class="link" href="https://kinde.com/docs">
        help center
      </a>
    </p>

    <small class="text-subtle">
      © 2023 KindeAuth, Inc. All rights reserved
    </small>
  </div>
</footer>
