<header>
  <nav class="nav container">
    <h1 class="text-display-3">KindeAuth</h1>
    <div>
      <button class="btn btn-ghost sign-in-btn" (click)="login()">
        Sign in
      </button>
      <button class="btn btn-dark" (click)="register()">
        Sign up
      </button>
    </div>
  </nav>
</header>

<main>
  <div class="container">
    <div class="card hero">
      <p class="text-display-1 hero-title">
        Let's start authenticating <br /> with KindeAuth
      </p>
      <p class="text-body-1 hero-tagline">Configure your app</p>

      <a
        href="#"
        target="_blank"
        rel="noreferrer"
        class="btn btn-light btn-big"
      >
        Go to docs
      </a>
    </div>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <strong class="text-heading-2">KindeAuth</strong>
    <p class="footer-tagline text-body-3">
      Visit our
      <a class="link" href="https://kinde.com/docs">
        help center
      </a>
    </p>

    <small class="text-subtle">
      © 2023 KindeAuth, Inc. All rights reserved
    </small>
  </div>
</footer>
