{{ isAuth | async }}
token: {{ token | async | json }}

<ul>
  <li>
    <button (click)="login()">Login</button>
  </li>
  <li>
    <button (click)="logout()">logout</button>
  </li>
  <li>
    <button (click)="getToken()">Get token</button>
  </li>
</ul>

<ul>
  <li>
    <button [routerLink]="['lazy']">
      Route to lazy canload
    </button>
  </li>
  <li>
    <button [routerLink]="['bla']">
      Route to bla canActivate
    </button>
  </li>
  <li>
    <button [routerLink]="['feature']">
      Route to feature featureFlagGuard
    </button>
  </li>
  <li>
    <button [routerLink]="['unknown-feature']">
      Route to unknown feature featureFlagGuard
    </button>
  </li>
</ul>

<router-outlet></router-outlet>
