{{ isAuth | async }}
token: {{ token | async | json }}


<button (click)="login()">Login</button>
<button (click)="logout()">logout</button>
<button (click)="getToken()">Get token</button>

<button [routerLink]="['lazy']">
  Route to lazy canload
</button>
<button [routerLink]="['bla']">
  Route to bla canActivate
</button>
<button [routerLink]="['feature']">
  Route to feature featureFlagGuard
</button>
<button [routerLink]="['unknown-feature']">
  Route to unknown feature featureFlagGuard
</button>

<router-outlet></router-outlet>
